.image{
     /* background-color:black; */
    height: 180px;
    width: 140px;
    
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: space-between;
     margin-left: auto;
    padding: 40px;
    position: sticky;
    border: 1px solid white;
    border-radius:auto;
    object-fit: cover;


}